.content {
    padding: 20px;
}

.site-fooder {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.login-status {
    text-align: right;
    margin-right: 20px;
    color: #fff;
}

#ex31 {
    font-size: 14px;
    color t
}